<!-- About Section Start -->
<section id="about" class="light-background">
  <div class="container two-column-position sp8">
    <div class="about__image">
      <h2 class="sub-heading">About Me</h2>
    </div>

    <div class="about__content">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime illum
        autem similique minima sequi maiores corporis molestias cumque iusto
        blanditiis, quas, sunt nihil distinctio facilis dolorem adipisci
        cupiditate tempora natus?
      </p>
      <p class="mb2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam animi
        perferendis ex! Ea, beatae distinctio.
      </p>
      <a href="#" class="button mr2">Portfolio</a>
      <a href="#" class="button-inverse">Resume</a>
    </div>
  </div>
</section>
