 <!-- Experience Section Start -->
 <section id="experience">
  <div class="container sp8">
    <div class="section__heading">
      <h2 class="sub-heading mb2">Experience</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti,
        vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Repellat, earum! Ab facere cumque iusto et?
      </p>
    </div>

    <div class="three-column-position">
      <a href="#" class="experience-card">
        <span class="experience-card__sub-heading upercase"
          >June 2012 - 2016</span
        >
        <h2 class="experience-card__heading">UI/UX Designer</h2>
        <span class="experience-card__sub-heading">Adobe Inc.</span>
        <p class="experience-card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </a>

      <a href="#" class="experience-card">
        <span class="experience-card__sub-heading upercase"
          >June 2012 - 2016</span
        >
        <h2 class="experience-card__heading">React Developer</h2>
        <span class="experience-card__sub-heading">Adobe Inc.</span>
        <p class="experience-card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </a>

      <a href="#" class="experience-card">
        <span class="experience-card__sub-heading upercase"
          >June 2012 - 2016</span
        >
        <h2 class="experience-card__heading">Product Design</h2>
        <span class="experience-card__sub-heading">Adobe Inc.</span>
        <p class="experience-card__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </a>
    </div>
  </div>
</section>