<!-- Footer Section Start -->
<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="social-icons">
        <ul class="social">
          <li>
            <a class="circle-icon" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="circle-icon" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="circle-icon" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a class="circle-icon" href="#"><i class="fa fa-youtube"></i></a>
          </li>
        </ul>
      </div>
      <div class="copy-info">Community Project | Coding After Thirty</div>
    </div>
  </div>
</footer>

<script
  src="https://kit.fontawesome.com/b439301c53.js"
  crossorigin="anonymous"
  defer></script>
