<!-- Home Section Start -->
<section id="home pt4">
  <div class="container two-column-position pt4">
    <div class="home-content">
      <div class="content-container">
        <h1 class="home-content__heading">I'am Paul</h1>
        <p class="home-content__paragraph">
          React and Javasript <br />
          Software Engineer
        </p>
        <a href="#hire" class="button home-content__button">Hire Me</a>
      </div>
    </div>

    <div class="home-image">
      <img src="img/hero_img.png" alt="Avatar" />
    </div>
  </div>
</section>
