<!-- Hire Section Start -->
<section id="hire">
  <div class="container sp8">
    <div class="section__heading">
      <h2 class="sub-heading mb2">Hire Me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti,
        vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Repellat, earum! Ab facere cumque iusto et?
      </p>
    </div>

    <div class="section__button center">
      <a href="#" class="button-inverse home-content__button">Hire Me</a>
    </div>
  </div>
</section>
