<!-- Header Section Start -->
<header id="header" class="header">
  <div class="container header-position">
    <div class="header_logo">
      <a class="header-logo__link" href="#">P.</a>
    </div>
    <nav class="header-nav">
      <ul>
        <li><a class="header-nav__link" href="#">Home</a></li>
        <li><a class="header-nav__link" href="#about">About</a></li>
        <li><a class="header-nav__link" href="#services">Services</a></li>
        <li><a class="header-nav__link" href="#portfolio">Protfolio</a></li>
        <li>
          <a class="header-nav__link" href="#experience">Experience</a>
        </li>
        <li><a class="header-nav__link" href="#contact">Contact</a></li>
      </ul>
    </nav>

    <div id="toggleNavButton" class="header-mobile-icon">
      <span class="line-1"></span>
      <span class="line-2"></span>
      <span class="line-3"></span>
    </div>
  </div>
  <!-- Mobile Nav Start -->
  <nav id="mobileMenu" class="mobile-nav">
    <ul id="mobile-nav">
      <li><a class="mobile-nav__link" href="#">Home</a></li>
      <li><a class="mobile-nav__link" href="#about">About</a></li>
      <li><a class="mobile-nav__link" href="#services">Services</a></li>
      <li><a class="mobile-nav__link" href="#portfolio">Protfolio</a></li>
      <li>
        <a class="mobile-nav__link" href="#experience">Experience</a>
      </li>
      <li><a class="mobile-nav__link" href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
