 <!-- Portfolio Section Start -->
 <section id="portfolio">
  <div class="container sp8">
    <div class="section__heading">
      <h2 class="sub-heading mb2">Portfolio</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti,
        vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Repellat, earum! Ab facere cumque iusto et?
      </p>
    </div>

    <div class="three-by-four mb2 pt2">
      <div class="tbf-1 portfolio">
        <img
          class="portfolio__img"
          src="https://images.pexels.com/photos/6347/coffee-cup-working-happy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="portfolio"
        />
        <div class="portfolio__overlay">
          <h2 class="portfolio__overlay-heading">Hello</h2>
          <p class="portfolio__overlay-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            neque?
          </p>
        </div>
      </div>

      <div class="tbf-2 portfolio">
        <img
          class="portfolio__img"
          src="https://images.pexels.com/photos/539432/pexels-photo-539432.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="portfolio"
        />
        <div class="portfolio__overlay">
          <h2 class="portfolio__overlay-heading">Hello</h2>
          <p class="portfolio__overlay-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            neque?
          </p>
        </div>
      </div>

      <div class="tbf-3 portfolio">
        <img
          class="portfolio__img"
          src="https://images.pexels.com/photos/977876/pexels-photo-977876.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="portfolio"
        />
        <div class="portfolio__overlay">
          <h2 class="portfolio__overlay-heading">Hello</h2>
          <p class="portfolio__overlay-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            neque?
          </p>
        </div>
      </div>
      <div class="tbf-4 portfolio">
        <img
          class="portfolio__img"
          src="https://images.pexels.com/photos/867470/pexels-photo-867470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="portfolio"
        />
        <div class="portfolio__overlay">
          <h2 class="portfolio__overlay-heading">Hello</h2>
          <p class="portfolio__overlay-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            neque?
          </p>
        </div>
      </div>
      <div class="tbf-5 portfolio">
        <img
          class="portfolio__img"
          src="https://images.pexels.com/photos/530932/pexels-photo-530932.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="portfolio"
        />
        <div class="portfolio__overlay">
          <h2 class="portfolio__overlay-heading">Hello</h2>
          <p class="portfolio__overlay-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            neque?
          </p>
        </div>
      </div>
      <div class="tbf-6 portfolio">
        <img
          class="portfolio__img"
          src="https://images.pexels.com/photos/437716/pexels-photo-437716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="portfolio"
        />
        <div class="portfolio__overlay">
          <h2 class="portfolio__overlay-heading">Hello</h2>
          <p class="portfolio__overlay-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            neque?
          </p>
        </div>
      </div>
      <div class="tbf-7 portfolio">
        <img
          class="portfolio__img"
          src="https://images.pexels.com/photos/1224219/pexels-photo-1224219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="portfolio"
        />
        <div class="portfolio__overlay">
          <h2 class="portfolio__overlay-heading">Hello</h2>
          <p class="portfolio__overlay-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            neque?
          </p>
        </div>
      </div>
      <div class="tbf-8 portfolio">
        <img
          class="portfolio__img"
          src="https://images.pexels.com/photos/228183/pexels-photo-228183.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="portfolio"
        />
        <div class="portfolio__overlay">
          <h2 class="portfolio__overlay-heading">Hello</h2>
          <p class="portfolio__overlay-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            neque?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
