<!-- Services Section Start -->
<section id="services">
  <div class="container sp8">
    <div class="section__heading">
      <h2 class="sub-heading mb2">Services</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti,
        vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Repellat, earum! Ab facere cumque iusto et?
      </p>
    </div>

    <div class="two-column-two-rows-position mb2 pt2">
      <div class="card card-blue">
        <div class="service_icon">
          <img src="img/phone_icon.png" alt="Mak" />
        </div>
        <h4 class="service_title">UX Research</h4>
        <p class="service_details">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat
        </p>
      </div>
      <div class="card card-yellow">
        <div class="service_icon">
          <img src="img/code_icon.png" alt="Mak" />
        </div>
        <h4 class="service_title">Web Development</h4>
        <p class="service_details">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat
        </p>
      </div>

      <div class="card card-violet">
        <div class="service_icon">
          <img src="img/phone_icon-1.png" alt="Mak" />
        </div>
        <h4 class="service_title">Web Development</h4>
        <p class="service_details">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat
        </p>
      </div>

      <div class="card card-green">
        <div class="service_icon">
          <img src="img/design_layout_icon.png" alt="Mak" />
        </div>
        <h4 class="service_title">Web Development</h4>
        <p class="service_details">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat
        </p>
      </div>
    </div>
  </div>
</section>
